@model TP10.ViewModels.CrearTableroViewModel

<div class="container mt-4">
    <h1>Crear Tablero</h1>

    <form asp-action="Alta" asp-controller="Tablero" method="post">

        <div class="mb-3">
            <label asp-for="@Model.IdUsuarioPropietario" class="form-label">Usuario Propietario:</label>
            <select asp-for="@Model.IdUsuarioPropietario" class="form-control">
                <option value="0">Sin Usuario</option> 
                @foreach (var usuario in Model.ListaUsuarios)
                {
                    <option value="@usuario.Id">@usuario.Nombre</option>
                }
            </select>
            <span asp-validation-for="@Model.IdUsuarioPropietario" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Nombre" class="form-label">Nombre:</label>
            <input asp-for="@Model.Nombre" class="form-control" />
            <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Descripcion" class="form-label">Descripción:</label>
            <input asp-for="@Model.Descripcion" class="form-control" />
            <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Crear</button>

    </form>
</div>


@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        var errorMessage = '@Html.Raw(TempData["ErrorMessage"])'; 
        if (errorMessage) {
            alert(errorMessage);
        }

        $(document).ready(function () {
            $('.hidden-menu').removeClass('hidden-menu');
        });
    </script>
}





