@using TP10.ViewModels
@model List<TableroViewModel>

<h1 class="mt-4 mb-4">Listado de Tableros</h1>
<nav class="mb-3">
    <a class="btn btn-primary" asp-action="Alta" asp-controller="Tablero">Agregar Tablero</a>
</nav>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Usuario Propietario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tab in Model)
        {
            <tr>
                <td>@tab.UsuarioNombre</td>
                <td>@tab.Nombre</td>
                <td>@tab.Descripcion</td>
                <td>
                    @if (tab.IdUsuarioConectado == tab.IdUsuarioAsignado)
                    {
                        <a class="btn btn-warning btn-sm" asp-action="Editar" asp-controller="Tablero" asp-route-id="@tab.Id">Editar</a>
                        <a class="btn btn-danger btn-sm" asp-action="Borrar" asp-controller="Tablero" asp-route-id="@tab.Id" onclick="return confirm('¿Estás seguro de que deseas borrar este Tablero?')">Borrar</a>
                    }
                    <a class="btn btn-info btn-sm" asp-action="TareasDeTablero" asp-controller="Tarea" asp-route-id="@tab.Id">Ver tareas</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.hidden-menu').removeClass('hidden-menu');
        });
    </script>
}


