@using TP10.ViewModels
@model List<TableroViewModel>

<h1>Listado de Tableros</h1>
<nav>
    <a asp-action="AltaIndex" asp-controller="Tablero">Agregar Tablero</a>
</nav>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Usuario Propietario</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tab in Model)
        {
            <tr>
                <td>@tab.Id</td>
                <td>@tab.UsuarioNombre</td>
                <td>@tab.Nombre</td>
                <td>@tab.Descripcion</td>
                <td>
                    <a asp-action="EditarIndex" asp-controller="Tablero" asp-route-id="@tab.Id">Editar</a> |
                    <a asp-action="Borrar" asp-controller="Tablero" asp-route-id="@tab.Id" onclick="return confirm('¿Estás seguro de que deseas borrar este Tablero?')">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>



