@model TP10.ViewModels.TareaUsuarioViewModel

<div class="container mt-4">
    <h1>Asignar Usuario</h1>
    <div class="mb-3">
        <h2>Nombre tarea: @Model.Nombre</h2>
        <h3>Descripcion: @Model.Descripcion</h3>
        <h3>Usuario actual:  @Model.UsuarioAsignadoActual</h3>
    </div>
     <div class="mb-3">
            <table class="table">
                <leyend>Usuarios para asignar</leyend>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Rol</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var usuario in Model.Usuarios)
                    {
                        <tr>
                            <td>@usuario.Nombre</td>
                            <td>@usuario.Rol</td>

                            <td>
                            <a class="btn btn-info btn-sm" asp-action="Asignar" asp-controller="Tarea" asp-route-idUsuario="@usuario.Id" asp-route-idTarea="@Model.Id">Asignar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        var errorMessage = '@Html.Raw(TempData["ErrorMessage"])';
        if (errorMessage) {
            alert(errorMessage);
        }
    </script>
}
    @section Scripts {
    <script>
        $(document).ready(function () {
            $('.hidden-menu').removeClass('hidden-menu');
        });
    </script>
}
