@model List<TP10.ViewModels.TareaViewModel>

<h1>Listado de Tareas</h1>
<nav>
    <a asp-action="AltaIndex" asp-controller="Tarea">Agregar Tarea</a>
</nav>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Tablero</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Descripción</th>
            <th>Color</th>
            <th>Usuario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tar in Model)
        {
            <tr>
                <td>@tar.Id</td>
                <td>@tar.TableroAsignado</td>
                <td>@tar.Nombre</td>
                <td>@tar.Estado</td>
                <td>@tar.Descripcion</td>
                <td>@tar.Color</td>
                <td>@tar.UsuarioAsignado</td>
                <td>
                    <a asp-action="EditarIndex" asp-controller="Tarea" asp-route-id="@tar.Id">Editar</a> |
                    <a asp-action="Borrar" asp-controller="Tarea" asp-route-id="@tar.Id" onclick="return confirm('¿Estás seguro de que deseas borrar esta Tarea?')">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>




