@model List<TP10.ViewModels.TareaViewModel>

<h1>Listado de Tareas</h1>


@if (Model is not null)
{
   
    @foreach (var estado in Model.Select(t => t.Estado).Distinct())
    {
        var tareasPorEstado = Model.Where(t => t.Estado == estado).ToList();

        <section>
            <h2>@estado</h2>

            <div class="row">
                @foreach (var tar in tareasPorEstado)
                {
                    <div class="col-md-4">
                        <div class="card" style="border-color: @tar.Color;">
                            <div class="card-body">
                                <h5 class="card-title">@tar.Nombre</h5>
                                <p class="card-text">@tar.Descripcion</p>
                                <p class="card-text">Usuario: @tar.UsuarioAsignado</p>

                                @if (tar.IdUsuarioConectado == tar.UsuarioTableroAsignadoId)
                                {
                                    <a class="btn btn-info btn-sm" asp-action="AsignarUsuarios" asp-controller="Tarea" asp-route-idTarea="@tar.Id" asp-route-usuarioAsignado="@tar.UsuarioAsignado">Asignar Usuario</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    }
}
else
{
    <p>No hay tareas disponibles.</p>
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
}
    @section Scripts {
    <script>
        $(document).ready(function () {
            $('.hidden-menu').removeClass('hidden-menu');
        });
    </script>
}
