@model List<TP10.ViewModels.TareaViewModel>

<h1>Listado de Tareas</h1>


@if (Model is not null)
{
    @foreach (var estado in Model.Select(t => t.Estado).Distinct())
    {
        var tareasPorEstado = Model.Where(t => t.Estado == estado).ToList();

        <section>

            <h2>@estado</h2>
            <h3>Tablero: @Model.FirstOrDefault().TableroAsignado</h3>
            <div class="row">
                @foreach (var tar in tareasPorEstado)
                {
                    <div class="col-md-4">
                        <div class="card" style="border-color: @tar.Color;">
                            <div class="card-body">
                                <h5 class="card-title">Tarea: @tar.Nombre</h5>
                                <p class="card-text">Descripcion: @tar.Descripcion</p>
                                <p class="card-text">Usuario asignado: @tar.UsuarioAsignado</p>
                                <p>
                                    <a class="btn btn-warning btn-sm mt-1" asp-action="Editar" asp-controller="Tarea" asp-route-id="@tar.Id">Editar</a>
                                    <a class="btn btn-warning btn-sm mt-1" asp-action="Borrar" asp-controller="Tarea" asp-route-id="@tar.Id" onclick="return confirm('¿Estás seguro de que deseas borrar esta Tarea?')">Borrar</a>
                                    <a class="btn btn-warning btn-sm mt-1" asp-action="CambiarEstado" asp-controller="Tarea" asp-route-idTarea="@tar.Id">Cambiar Estado</a>
                                    <div><a class="btn btn-warning btn-sm mt-1" asp-action="AsignarUsuario" asp-controller="Tarea" asp-route-idTarea="@tar.Id" asp-route-usuAsignado="@tar.UsuarioAsignado">Asignar Usuario</a></div>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    }
}
else
{
    <p>No hay tareas disponibles.</p>
    <a class="btn btn-info btn-sm" asp-action="Index" asp-controller="Tablero" >Ir a Tableros</a>
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.hidden-menu').removeClass('hidden-menu');
        });
    </script>
}
    
