@model List<TP10.ViewModels.TareaViewModel>

<h1>@Model[0].Tablero.ToLower()</h1>
<h2>Listado de Tareas</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Tablero</th>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Descripción</th>
            <th>Color</th>
            <th>Usuario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tar in Model)
        {
            <tr>
                <td>@tar.Id</td>
                <td>@tar.TableroAsignado</td>
                <td>@tar.Nombre</td>
                <td>@tar.Estado.ToString()</td>
                <td>@tar.Descripcion</td>
                <td>@tar.Color</td>
                <td>@tar.UsuarioAsignado</td>
            </tr>
        }
    </tbody>
</table>
