@model TP10.ViewModels.ModificarUsuarioViewModel

<h1 class="modal-title">Editar Usuario</h1>

<form asp-action="Editar" asp-controller="Usuario" method="post">

    <input asp-for="@Model.Id" type="hidden" />

    <div>
        <label asp-for="@Model.Nombre">Nombre:</label>
        <input asp-for="@Model.Nombre" />
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="@Model.Contrasenia">Contraseña:</label>
        <input asp-for="@Model.Contrasenia" />
        <span asp-validation-for="@Model.Contrasenia" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="@Model.Rol">Rol:</label>
        <input asp-for="@Model.Rol" />
        <span asp-validation-for="@Model.Rol" class="text-danger"></span>
    </div>
    <div>
        <button class="btn-primary" type="submit">Guardar cambios</button>
    </div>
</form>
